<div class="profile-card" itemscope itemtype="https://schema.org/Person">
  <div class="profile-intro">
    {% if site.author.avatar and site.author.avatar != '' %}
      <img class="profile-photo" src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" width="180" height="180" fetchpriority="high">
    {% else %}
      <div class="profile-monogram" aria-hidden="true">QJ</div>
    {% endif %}
    <div class="profile-identity">
      <h2 class="profile-name" itemprop="name">Qingyue Jiao</h2>
      <p class="preferred-name">Sarah</p>
      <p class="profile-role">{{ site.author.bio }}</p>
      <p class="profile-institution">{{ site.author.employer }}</p>
    </div>
  </div>
  <ul class="profile-contact">
    <li class="profile-location">{% include icon.html name='location' %}<span>{{ site.author.location }}</span></li>
    <li><a href="mailto:{{ site.author.email }}">{% include icon.html name='email' %}<span>{{ site.author.email }}</span></a></li>
    <li><a href="{{ site.author.googlescholar | escape }}">{% include icon.html name='scholar' %}<span>Google Scholar</span></a></li>
    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}/">{% include icon.html name='linkedin' %}<span>LinkedIn</span></a></li>
    <li><a href="https://github.com/{{ site.author.github }}">{% include icon.html name='github' %}<span>GitHub</span></a></li>
    <li><a href="{{ site.author.cv | relative_url }}">{% include icon.html name='cv' %}<span>Curriculum Vitae</span></a></li>
  </ul>
</div>
