<a class="skip-to-content" href="#main">Skip to content</a>
<header class="masthead">
  <div class="masthead__inner-wrap personal-masthead">
    <a class="site-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="site-navigation" aria-label="Main navigation">
      {% for link in site.data.navigation.main %}
      <a href="{{ link.url | relative_url }}"{% if page.url == link.url %} class="is-current" aria-current="page"{% endif %}>{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
